page-bag {
    .body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        margin: 0 auto;
        background-color: whitesmoke;
    }  
.img{
    max-height: 25vh !important;
}
.footer{
    background-color: #BE5504;
    height: 50px;
    width: 100%;
    text-align: center;
}
#footerbtn{
font-size: 18px;
background-color: transparent;
color: white;
width: 100%;
height: 100%;

}
.line
{
    height: 2px;
    background-color: #BE5504;
    margin-top: 20px;
    width: 80%;
    margin-left: 30px;
    
}
.item-md{
    padding: 0;
}
}
