page-home {
   
    
*body{
    margin: 0 auto;
    padding: 0 auto;
}
.slider{
    margin: 0;
    width: 100%;
    
}
.line
{
    height: 2px;
    background-color: orangered;
    margin-top: 50px;
    width: 80%;
    margin-left: 30px;
    
}
}
