<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Marca</ion-title>
    <ion-buttons end>
      <button ion-button light (click)="OpenSearch()">
        <ion-icon name="search" style="font-size: 24px"></ion-icon>
      </button>
      <button ion-button light (click)="Openbag()">
        <ion-icon name="cart" style="font-size: 24px"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">



  <ion-card class="slider">
    <ion-slides autoplay="3000" pager loop="true">
      <ion-slide *ngFor="let number of [1,2,3]">
        <img style="height: 200px; width: 100%" no-repeat src="assets/imgs/slider/{{number}}.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>
  <!--blank div using as line-->
  <div class="line">
  </div>
  <!--blank div using as line-->


  <h1 text-center style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <b>All in the
      <br> Details</b>
  </h1>
  <ion-card>
    <img src="assets/imgs/home/1t.jpg">
    <ion-card-content>
      <p text-center style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </ion-card-content>
  </ion-card>
  <!--blank div using as line-->
  <div class="line">
  </div>
  <!--blank div using as line-->
  <ion-slides class="bottomslider">
      <ion-slide *ngFor="let number of [1,2,3]">
          <img class="img" style="height: 200px; width: 100%" no-repeat src="assets/imgs/product/{{number}}.jpg">
        </ion-slide>
  </ion-slides>

  <!--blank div using as line-->
  <div class="line">
    </div>
    <!--blank div using as line-->

  <h1 text-center>what are you looking for?</h1>

  <ion-list>
    <button style="color: #BE5504" *ngFor="let item of list;let index" text-center ion-item>{{item}} with index {{index}}</button>
    
  </ion-list>

  <!--blank div using as line-->
  <div class="line">
  </div>
  <!--blank div using as line-->
  <p text-center style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  <button ion-button round full color="dark">FEATURED DESIGNERS</button>

  <div class="line"></div>
  <!--blank div using as line-->
  <p style="color: grey" text-center>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>




</ion-content>