page-signin {

    .body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        margin: 0 auto;
        background-color: whitesmoke;
    }
    .line{
        height: 2px;
        background-color: #BE5504;
        margin-top: 10px;
        width: 100%;
        
    }
    .marca{
        margin-top: 30px;
}
.forgotpwd{
    padding-left: 210px;
    margin-bottom: 10px;
    
}
.contactus{
    padding-left: 130px;
    margin-top: 40px;
}
.fbbutton button{
    margin-left: 60px;
}
}